/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}
body{
	background-color: #ffffff;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.main-header{
    padding: 12px 80px;
    background-color: aquamarine;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
   }
   .main-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    color: white;
   }
   .login{
    background-color: white;
    padding: 10px 25px;
    border-radius:20px ;
   }